@import "../variables";

.footer {
  background: $c-dark_grey;
  padding: 20px 0;
  margin-bottom: 133px;

  &__border_right {
   &::after {
     content: '';
     top: 20px;
     right: 0;
     width: 2px;
     position: absolute;
     height: calc(100% - 40px);
     background: $c-main_grey;
   }
  }
  &__title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__description {
    color: white;
    font-size: 14px;
  }

  .fa {
    color: white;
    transition: all 0.1s ease;

    &:hover {
      transform: scale(1.5);
      color: $c-main_green;
    }
  }

  &__social {
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;
    font-size: $s-h2;
    justify-content: space-between;
  }

  &__menu {
    a {
      color: $c-main_green;
      font-size: $s-main;
      &:hover {
        text-decoration: underline;
      }
    }
    li {
      width: 100%;
    }
  }

  &__copyright {
    text-align: center;
    color: white;
    font-size: $s-main;

    a {
      color: $c-main_green;
    }
  }
}