@font-face {
  font-family: 'LatoRegular';
  src: url('/fonts/LatoRegular.eot');
  src: url('/fonts/LatoRegular.eot') format('embedded-opentype'), url('/fonts/LatoRegular.woff2') format('woff2'), url('/fonts/LatoRegular.woff') format('woff'), url('/fonts/LatoRegular.ttf') format('truetype'), url('/fonts/LatoRegular.svg#LatoRegular') format('svg');
}
@font-face {
  font-family: 'LatoLight';
  src: url('/fonts/LatoLight.eot');
  src: url('/fonts/LatoLight.eot') format('embedded-opentype'), url('/fonts/LatoLight.woff2') format('woff2'), url('/fonts/LatoLight.woff') format('woff'), url('/fonts/LatoLight.ttf') format('truetype'), url('/fonts/LatoLight.svg#LatoLight') format('svg');
}
@font-face {
  font-family: 'LatoBold';
  src: url('/fonts/LatoBold.eot');
  src: url('/fonts/LatoBold.eot') format('embedded-opentype'), url('/fonts/LatoBold.woff2') format('woff2'), url('/fonts/LatoBold.woff') format('woff'), url('/fonts/LatoBold.ttf') format('truetype'), url('/fonts/LatoBold.svg#LatoBold') format('svg');
}
@font-face {
  font-family: 'LatoBlack';
  src: url('/fonts/LatoBlack.eot');
  src: url('/fonts/LatoBlack.eot') format('embedded-opentype'), url('/fonts/LatoBlack.woff2') format('woff2'), url('/fonts/LatoBlack.woff') format('woff'), url('/fonts/LatoBlack.ttf') format('truetype'), url('/fonts/LatoBlack.svg#LatoBlack') format('svg');
}
body {
  color: #555555;
  font-size: 14px;
  font-family: 'LatoRegular', sans-serif;
}
span.red {
  color: red;
}
span.green {
  color: #8caa0b;
}
ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
}
i {
  cursor: pointer;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.refresh_icon:before {
  content: url("../images/icons/refresh_icon.png");
  display: inline-block;
  cursor: pointer;
}
.news_icon:before {
  content: url("../images/icons/news_icon.png");
  display: inline-block;
  cursor: pointer;
}
.plus_icon:before {
  content: url("../images/icons/plus_icon.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.standalone_icon:before {
  content: url("../images/icons/standalone.png");
  display: inline-block;
  cursor: pointer;
}
.close_thin_icon:before {
  content: url("../images/icons/close_thin.png");
  display: inline-block;
  cursor: pointer;
}
.delete_icon:before {
  content: url("../images/icons/delete_icon.png");
  display: inline-block;
  cursor: pointer;
}
.qiwi_icon:before {
  content: url("../images/currency_icons/qiwi.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 2px;
}
.private_icon:before {
  content: url("../images/currency_icons/privat.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 1px;
}
.usa_icon:before {
  content: url("../images/currency_icons/usa.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 2px;
  bottom: 1px;
}
.open_icon_1:before {
  content: url("../images/icons/open_icon_1.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 2px;
  bottom: 1px;
}
.open_icon_2:before {
  content: url("../images/icons/private_icon_white.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 2px;
  bottom: 1px;
}
.blue_circle:before {
  content: url("../images/currency_icons/blue_circle.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 2px;
  bottom: 1px;
}
.wu_icon:before {
  content: url("../images/currency_icons/wu.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 7px;
  top: 3px;
}
.reverse_icon_grey {
  width: 25px;
  height: 25px;
  display: inline-block;
}
.reverse_icon_grey:before {
  content: url("../images/icons/reverse_icon.png");
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: -2px;
  top: 3px;
}
.fa-percent {
  padding: 3px 4px 2px 3px;
  background: gray;
  border-radius: 50%;
  color: white;
  font-size: 11px;
}
.flex_container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex_container_column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_top_line {
  background: #ededed;
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
}
header .header_top_line .courses,
header .header_top_line .exchanges,
header .header_top_line .refreshes {
  display: inline-block;
  padding-right: 60px;
}
header .header_top_line .refreshes {
  padding-right: 0;
}
header .header_top_line .refreshes .refresh_icon {
  padding-left: 5px;
  position: relative;
  top: 1px;
}
header .header_main .logo_block {
  display: inline-block;
  width: 100%;
  max-width: 22%;
  padding: 23px 0 14px;
  text-align: left;
}
header .header_main .logo_block span {
  font-size: 12px;
  display: block;
  padding-top: 10px;
}
header .main_block {
  width: 100%;
  max-width: 78%;
  padding: 13px 0 5px 40px;
  background: linear-gradient(to right, #ededed 0%, #ededed 0%, rgba(231, 56, 39, 0) 1%);
}
header .main_block .first_menu {
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
header .main_block .header_first_menu {
  font-size: 12px;
}
header .main_block .header_first_menu li {
  padding-right: 33px;
}
header .main_block .header_first_menu li a:hover {
  color: #8caa0b;
  text-decoration: underline;
}
header .main_block .header_first_menu li.active {
  color: #8caa0b;
  text-decoration: underline;
}
header .main_block .header_soc_icons li {
  padding-left: 20px;
}
header .main_block .header_soc_icons li i {
  -webkit-transform: translate3d();
  transform: translate3d();
  transition: 0.1s ease;
}
header .main_block .header_soc_icons li i:hover {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  color: #8caa0b;
}
header .main_block .second_menu {
  padding: 17px 0;
  font-family: 'LatoBlack', sans-serif;
  font-weight: bold;
}
header .main_block .second_menu .header_second_menu {
  width: 88%;
}
header .main_block .second_menu .header_second_menu li {
  width: 20%;
}
header .main_block .second_menu .header_second_menu li a {
  padding-bottom: 9px;
  position: relative;
}
header .main_block .second_menu .header_second_menu li a:after {
  transition: all 0.1s ease;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  left: 50%;
  background: #8caa0b;
}
header .main_block .second_menu .header_second_menu li.active a:after {
  width: 100%;
  left: 0;
}
header .main_block .second_menu .header_second_menu li:hover a:after {
  width: 100%;
  left: 0;
}
header .main_block .second_menu .user_cabinet {
  color: #8caa0b;
  font-size: 12px;
  font-family: 'LatoBold', sans-serif;
  padding-top: 3px;
}
.under_header_gray_line {
  background: #ededed;
  font-size: 12px;
  font-family: 'LatoRegular', sans-serif;
  padding: 12px 0 11px;
}
.under_header_gray_line ul {
  padding: 5px 0 0 112px;
}
.under_header_gray_line ul li {
  padding-right: 27px;
}
.under_header_gray_line ul .minus {
  color: red;
}
.under_header_gray_line ul .plus {
  color: #8caa0b;
}
.under_header_gray_line .search_block {
  display: inline;
}
.under_header_gray_line .search_block i {
  padding-left: 20px;
  font-size: 20px;
}
.under_header_gray_line .search_block i.news_icon {
  position: relative;
  top: 2px;
}
.direction_widget .direction_switch_buttons_1 {
  text-align: center;
  position: relative;
  padding: 22px 0 6px;
}
.direction_widget .direction_switch_buttons_1:after {
  display: table;
  clear: both;
}
.direction_widget .direction_switch_buttons_1 .main_buttons {
  display: inline-block;
}
.direction_widget .direction_switch_buttons_1 .main_buttons span {
  padding: 6px;
  float: left;
  color: #555555;
  font-family: 'LatoBlack', sans-serif;
  font-weight: bold;
  background: #ededed;
  transition: all 0.1s ease;
  cursor: pointer;
}
.direction_widget .direction_switch_buttons_1 .main_buttons span:first-child {
  padding: 4px 20px 5px 40px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.direction_widget .direction_switch_buttons_1 .main_buttons span:last-child {
  padding: 4px 40px 5px 40px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.direction_widget .direction_switch_buttons_1 .main_buttons span:hover {
  background: #657a08;
  color: white;
}
.direction_widget .direction_switch_buttons_1 .main_buttons span.active {
  background: #8caa0b;
  color: white;
}
.direction_widget .direction_switch_buttons_1 .how_it_works {
  position: absolute;
  right: 0;
  top: 22px;
  font-size: 12px;
  color: #8caa0b;
}
.direction_widget .direction_switch_buttons_1 .how_it_works i {
  font-size: 18px;
}
.direction_widget .direction_switch_buttons_2 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}
.direction_widget .direction_switch_buttons_2 span {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}
.direction_widget .direction_switch_buttons_2 span.active a:after {
  width: 100%;
  left: 0;
}
.direction_widget .direction_switch_buttons_2 span a:after {
  transition: all 0.1s ease;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 50%;
  background: #8caa0b;
}
.direction_widget .direction_switch_buttons_2 span a:hover:after {
  width: 100%;
  left: 0;
}
.direction_widget .direction_switch_buttons_2 span.currencies {
  margin-right: 20px;
  margin-left: 29px;
}
.direction_widget .widget_main_block {
  padding-top: 8px;
}
.direction_widget .widget_main_block .give_block {
  width: 50%;
  padding-right: 35px;
  position: relative;
}
.direction_widget .widget_main_block .give_block:after {
  content: '';
  display: block;
  position: absolute;
  width: 51px;
  height: 1px;
  border-bottom: 1px dashed #d8d8d8;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -25px;
  top: 66px;
}
.direction_widget .widget_main_block .get_block {
  width: 50%;
  padding-left: 35px;
}
.direction_widget .widget_main_block .get_block .main_line {
  padding-right: 0;
}
.direction_widget .widget_main_block .top_line {
  padding-bottom: 10px;
}
.direction_widget .widget_main_block .top_line span {
  font-size: 12px;
  font-family: 'LatoBold', sans-serif;
  line-height: 30px;
}
.direction_widget .widget_main_block .top_line .icons i {
  padding: 7px;
  background: #ededed;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  width: 29px;
  height: 26px;
  vertical-align: top;
  box-shadow: 0 2px 0 #d4d4d4;
  font-size: 15px;
  font-weight: bold;
  color: #289fce;
  position: relative;
}
.direction_widget .widget_main_block .top_line .icons i:first-child {
  margin-right: 10px;
}
.direction_widget .widget_main_block .top_line .icons i:hover {
  background: #e0e0e0;
}
.direction_widget .widget_main_block .top_line .icons i.fa-star-o:active:before {
  content: "\f005";
}
.direction_widget .widget_main_block .top_line .icons i.delete_icon:before {
  position: relative;
  bottom: 1px;
}
.direction_widget .widget_main_block .top_line .icons i.delete_icon:active {
  background: #b9170c;
  box-shadow: 0 2px 0 #6d1610;
}
.direction_widget .widget_main_block .top_line .icons i.delete_icon:active:before {
  content: url("../images/icons/delete_icon_white.png");
}
.direction_widget .widget_main_block .main_line {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.direction_widget .widget_main_block .main_line .icons_each {
  display: inline-block;
  vertical-align: top;
}
.direction_widget .widget_main_block .main_line .icons_each.active .icon_img_block:before {
  opacity: 1;
}
.direction_widget .widget_main_block .main_line .icons_each:last-child {
  padding-right: 0;
}
.direction_widget .widget_main_block .main_line .icons_each .icon_img_block {
  width: 40px;
  height: 40px;
  background: #ededed;
  text-align: center;
  padding: 10px 10px 3px;
  border-radius: 10px;
  box-shadow: 0 3px #d4d4d4;
  cursor: pointer;
  position: relative;
}
.direction_widget .widget_main_block .main_line .icons_each .icon_img_block:before {
  content: '';
  position: absolute;
  width: 110%;
  height: 117%;
  border: 2px solid #a7c138;
  top: -2px;
  left: -2px;
  border-radius: 13px;
  transition: all 0.1s ease;
  opacity: 0;
}
.direction_widget .widget_main_block .main_line .icons_each .icon_img_block:hover:before {
  opacity: 1;
}
.direction_widget .widget_main_block .main_line .icons_each .icon_img_block:active:before {
  border: 2px solid #95ab38;
}
.direction_widget .widget_main_block .main_line .icons_each .icon_text {
  width: 40px;
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  padding-top: 8px;
  text-align: center;
  text-transform: uppercase;
}
.direction_widget .widget_main_block .main_line .icons_each.add_icon .icon_text {
  text-transform: lowercase;
}
.direction_widget .widget_main_block .main_line .icons_each.add_icon .icon_img_block {
  background: #8caa0b;
  box-shadow: 0 3px #657a08;
}
.direction_widget .widget_main_block .main_line .icons_each.add_icon .icon_img_block:hover {
  background: #789209;
}
.often_questions {
  text-align: center;
  position: relative;
  font-size: 17px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 20px;
  padding: 11px 0;
  font-family: 'LatoBlack', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.1s ease;
}
.often_questions i {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 25px;
}
.often_questions.side_menu_opened {
  width: 62%;
  float: right;
  margin-bottom: 10px;
  margin-top: 51px;
}
.table_wrap {
  padding-top: 10px;
  transition: all 0.1s ease;
}
.table_wrap table {
  width: 100%;
  border-collaple: collapse;
}
.table_wrap table thead {
  text-align: center;
}
.table_wrap table thead td {
  padding: 0 0 10px;
  transition: all 0.1s ease;
}
.table_wrap table tbody tr:nth-child(odd) {
  background: #f7f7f7;
}
.table_wrap table tbody td {
  border: 1px #d8d8d8;
  padding: 10px 0;
  border-style: solid dashed solid dashed ;
  text-align: center;
}
.table_wrap table tbody td img {
  width: 15px;
  position: relative;
  top: 5px;
  right: 0;
}
.table_wrap table tbody td .img_sign {
  font-size: 10px;
}
.table_wrap table tbody td .img_sign.ru {
  font-size: 12px;
  text-transform: lowercase;
}
.table_wrap table tbody td.exchanger {
  padding-top: 15px;
}
.table_wrap table tbody td.exchanger span {
  width: 30%;
  display: inline-block;
}
.table_wrap table tbody td.exchanger span:first-child {
  width: 20%;
}
.table_wrap table tbody td.exchanger span:nth-child(2) {
  text-align: left;
  width: 40%;
}
.table_wrap table tbody td.exchanger span:last-child {
  text-align: right;
  padding-right: 5px;
}
.table_wrap table tbody td.exchanger img {
  width: initial;
  top: -2px;
}
.table_wrap table tbody td.exchanger a {
  color: #8caa0b;
  white-space: nowrap;
}
.table_wrap table tbody td img.bitcoin {
  width: 20px;
  top: 10px;
}
.table_wrap table tbody td img.wallet {
  top: 8px;
}
.table_wrap table tbody td.get {
  background: rgba(198, 244, 0, 0.1);
}
.table_wrap table tbody td.get i {
  padding-left: 3px;
}
.table_wrap table tbody td.give {
  background: rgba(0, 229, 255, 0.1);
}
.table_wrap table tbody td.type img {
  width: 25px;
  top: 1px;
}
.table_wrap table tbody td.type img.gear {
  width: 30px;
}
.table_wrap table tbody td.actions img {
  vertical-align: top;
}
.table_wrap table tbody td.actions .action_ {
  display: inline-block;
  padding: 3px 7px;
  background: #ededed;
  border-radius: 5px;
  box-shadow: 0 2px #d4d4d4;
  cursor: pointer;
}
.table_wrap table tbody td.actions .action_:hover {
  background: #e0e0e0;
}
.table_wrap table tbody td.actions .action_ img {
  position: relative;
  left: 0;
}
.table_wrap table tbody td.actions .action_ i {
  position: relative;
  top: 2px;
}
.table_wrap table tbody td .amount {
  font-size: 18px;
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
  padding: 11px 5px 0;
}
.table_wrap table tbody td .amount.red {
  color: red;
}
.table_wrap table tbody td .icon {
  display: inline-block;
  width: 30px;
  text-align: center;
}
.table_wrap.side_menu_opened {
  padding-left: 370px;
}
.table_wrap.side_menu_opened table thead tr .testimonials,
.table_wrap.side_menu_opened table thead tr .type,
.table_wrap.side_menu_opened table thead tr .actions {
  display: none;
}
.table_wrap.side_menu_opened table thead tr td {
  padding: 5px 0 5px;
}
.table_wrap.side_menu_opened table tbody .testimonials,
.table_wrap.side_menu_opened table tbody .type,
.table_wrap.side_menu_opened table tbody .actions {
  display: none;
}
.pagination_block {
  text-align: center;
  padding: 30px 0 20px;
  position: relative;
}
.pagination_block ul li {
  padding: 12px 17px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.pagination_block ul li.next {
  padding: 9px 17px;
  vertical-align: top;
  border: 1px solid #d8d8d8;
}
.pagination_block ul li.next:hover {
  background: #cbcbcb;
}
.pagination_block ul li i {
  font-size: 23px;
  vertical-align: top;
}
.pagination_block ul li:hover {
  background: #b3da0e;
  color: white;
}
.pagination_block ul li.active {
  background: #8caa0b;
  color: white;
}
.pagination_block .pagination_setting {
  border: 1px solid #d8d8d8;
  position: absolute;
  right: 0;
  top: 30px;
}
.pagination_block .pagination_setting span {
  display: inline-block;
  padding: 11px 35px 11px 22px;
}
.pagination_block .pagination_setting .number_choose {
  position: relative;
}
.pagination_block .pagination_setting .number_choose .arrows {
  display: inline-block;
}
.pagination_block .pagination_setting .number_choose .arrows i {
  font-size: 12px;
  font-weight: bold;
}
.pagination_block .pagination_setting .number_choose .arrows .arrow_up {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 21px;
  transition: all 0.1s ease;
  border: solid #d8d8d8;
  border-width: 0 0 1px 1px;
}
.pagination_block .pagination_setting .number_choose .arrows .arrow_up:hover {
  background: #ededed;
}
.pagination_block .pagination_setting .number_choose .arrows .arrow_down {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17px;
  transition: all 0.1s ease;
  height: 21px;
  border-left: 1px solid #d8d8d8;
}
.pagination_block .pagination_setting .number_choose .arrows .arrow_down:hover {
  background: #ededed;
}
.separate_line img {
  width: 100%;
}
.about_video_block {
  padding: 20px 0;
}
.about_video_block iframe {
  width: 48%;
}
.about_video_block .video_about_text {
  width: 49%;
}
.about_video_block .video_about_text .title {
  font-size: 36px;
  color: #8caa0b;
  padding-bottom: 16px;
  line-height: 31px;
  font-weight: bold;
}
.about_video_block .video_about_text .sub_title {
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 16px;
  font-weight: bold;
}
.about_video_block .video_about_text .desc p {
  padding-bottom: 5px;
}
.about_video_block .video_about_text .desc p:last-child {
  padding: 0;
  margin: 0;
}
.first_separate {
  margin: 12px 0 25px;
}
.second_separate {
  margin: 30px 0 45px;
}
.third_separate {
  margin: 40px 0 45px;
}
.news_each {
  width: 28%;
}
.news_each img {
  width: 100%;
}
.news_each .title a {
  color: #8caa0b;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-family: 'LatoBlack', sans-serif;
  display: block;
  margin-bottom: 20px;
}
.news_each .news_desc {
  font-weight: bold;
  padding-top: 15px;
  font-size: 14px;
}
.start_page_about_text .title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.start_page_about_text .desc {
  font-size: 14px;
}
footer {
  background: #333333;
  padding: 20px 0;
  margin-bottom: 133px;
}
footer .title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .about_and_soc {
  width: 30%;
}
footer .about_and_soc .desc {
  color: white;
  font-size: 14px;
}
footer .about_and_soc i {
  color: white;
  transition: all 0.1s ease;
}
footer .about_and_soc i:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  color: #8caa0b;
}
footer .about_and_soc .soc {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 20px;
  font-size: 20px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_menu {
  width: 40%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-weight: bold;
  padding: 0 50px;
  position: relative;
}
footer .footer_menu:after {
  content: '';
  display: block;
  position: absolute;
  top: 43%;
  left: 73%;
  width: 49%;
  height: 1px;
  border-bottom: 1px solid #555555;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
footer .footer_menu:before {
  content: '';
  display: block;
  position: absolute;
  top: 43%;
  left: -24%;
  width: 49%;
  height: 1px;
  border-bottom: 1px solid #555555;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
footer .footer_menu a {
  color: #8caa0b;
  font-size: 13px;
}
footer .footer_menu a:hover {
  text-decoration: underline;
}
footer .footer_menu li {
  width: 100%;
}
footer .footer_menu .first_menu {
  width: 50%;
}
footer .footer_menu .second_menu {
  width: 50%;
}
footer .vk_widget {
  text-align: right;
  width: 25%;
}
footer .vk_widget img {
  width: 100%;
}
footer .bottom_link {
  text-align: center;
  color: white;
  font-size: 15px;
  position: relative;
  bottom: 16px;
}
footer .bottom_link a {
  color: #8caa0b;
}
.fixed_footer {
  background: #f8f8f8;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}
.fixed_footer .icon_img_block {
  width: 40px;
  height: 40px;
  background: #ededed;
  text-align: center;
  padding: 10px 10px 3px;
  border-radius: 10px;
  box-shadow: 0 3px #d4d4d4;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.fixed_footer .currency_widget {
  width: 70%;
  margin: 25px auto;
  position: relative;
}
.fixed_footer .currency_widget .exchanger_name {
  position: relative;
  top: 20px;
  font-weight: bold;
  color: #8caa0b;
  font-size: 16px;
}
.fixed_footer .currency_widget .fixed_footer_item {
  width: 30%;
}
.fixed_footer .currency_widget .fixed_footer_item:nth-child(2) {
  text-align: center;
  vertical-align: bottom;
}
.fixed_footer .currency_widget .fixed_footer_item:nth-child(3) .give,
.fixed_footer .currency_widget .fixed_footer_item:nth-child(3) .get,
.fixed_footer .currency_widget .fixed_footer_item:nth-child(3) .reserve {
  text-align: center;
}
.fixed_footer .currency_widget .fixed_footer_item:nth-child(3) .get {
  padding: 0 10px;
}
.fixed_footer .currency_widget .fixed_footer_item:nth-child(3) .amount {
  font-size: 14px;
  font-family: 'LatoBlack', sans-serif;
}
.fixed_footer .currency_widget .fixed_footer_item .icon_in {
  vertical-align: top;
}
.fixed_footer .currency_widget .fixed_footer_item > div {
  display: inline-block;
}
.fixed_footer .currency_widget .fixed_footer_item .amount {
  font-size: 22px;
  font-weight: bold;
  vertical-align: top;
  position: relative;
  top: 10px;
}
.fixed_footer .currency_widget .amount_icon {
  display: inline-block;
}
.fixed_footer .currency_widget .amount_icon .currency_text {
  display: block;
  text-align: center;
}
.fixed_footer .currency_widget .settings {
  width: 100%;
  text-align: center;
  margin: auto;
  color: #8caa0b;
  cursor: pointer;
}
.fixed_footer .currency_widget .settings i {
  position: relative;
  top: 1px;
  padding-left: 4px;
  font-size: 15px;
}
.fixed_footer .reverse_icon_grey {
  vertical-align: bottom;
  position: relative;
  bottom: 26px;
  margin: 0 15px;
}
.fixed_footer .action_icons {
  position: absolute;
  top: 0;
  right: -110px;
}
.fixed_footer .action_icons span {
  padding-right: 15px;
}
.fixed_footer .action_icons span:nth-child(2) {
  position: relative;
  bottom: 2px;
  color: #8caa0b;
}
.slide_section {
  position: relative;
}
.side_all_currency_widget {
  position: absolute;
  top: 35px;
  transition: all 0.2s ease;
  width: 360px;
  left: -360px;
  z-index: 10;
}
.side_all_currency_widget .open_icon_wrapper {
  position: absolute;
  top: -34px;
  right: -71px;
}
.side_all_currency_widget .open_icon_wrapper .title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 13px;
  font-size: 11px;
  position: relative;
  right: 8px;
  padding: 4px 0;
}
.side_all_currency_widget .open_icon {
  background: #8caa0b;
  padding: 10px 10px 5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  width: 70px;
  text-align: center;
  cursor: pointer;
}
.side_all_currency_widget .open_icon:before {
  content: '';
  position: absolute;
  height: 1px;
  border-bottom: 1px solid white;
  top: 61%;
  width: 70%;
  left: 12%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.side_all_currency_widget .open_icon .open_icon_1 {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.side_all_currency_widget .open_icon .open_icon_2 {
  text-align: right;
  display: block;
}
.side_all_currency_widget .all_currency_widget_body {
  width: 100%;
  max-width: 360px;
  left: -360px;
  transition: all 0s;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 50%;
  padding: 25px 5px 15px;
  background: white;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .item:nth-child(even) {
  background: #f2f1f1;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .item .currency_item {
  padding: 5px 10px;
  background: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 3px 0 #d4d4d4;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .item .currency_item:hover {
  background: #dedede;
  box-shadow: 0 3px 0 #bababa;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .item .currency_item:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .item .currency_item.active {
  background: #8caa0b;
  box-shadow: 0 3px 0 #657a08;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .item .currency_item.active:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .item .currency_item span {
  position: relative;
  top: 2px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .body_toggle {
  cursor: pointer;
  background: #8caa0b;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  transition: all 0.1s ease;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .body_toggle.open i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .body_toggle i {
  position: absolute;
  right: 10px;
  top: 33%;
  transition: all 0.1s ease;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .head {
  background: #555555;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 8px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .head div {
  display: inline-block;
  text-align: center;
  width: 33.333%;
  color: white;
  position: relative;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .head div span {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .head div span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #8caa0b;
  transition: all 0.1s ease;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .head div span:hover:after {
  width: 100%;
  left: 0;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .head div.active span:after {
  width: 100%;
  left: 0;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item {
  width: 50%;
  padding: 10px 20px 20px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item .title {
  text-align: center;
  padding: 0 0 5px;
  font-weight: bold;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item .input_block {
  position: relative;
  text-align: center;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item .input_block input {
  width: 100%;
  margin: auto;
  display: inline-block;
  padding: 3px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item .input_block input::-webkit-input-placeholder {
  color: darkgray;
  font-size: 11px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item .input_block input::-moz-placeholder {
  color: darkgray;
  font-size: 11px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item .input_block input:-moz-placeholder {
  color: darkgray;
  font-size: 11px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item .input_block input:-ms-input-placeholder {
  color: darkgray;
  font-size: 11px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .find_block .item .input_block i {
  position: absolute;
  right: 5px;
  top: 6px;
  font-size: 19px;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .cash {
  border-bottom: 2px solid #8caa0b;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .pay_systems .wrap {
  display: none;
}
.side_all_currency_widget .all_currency_widget_body .flex_container_wrap .pay_systems .pay_system_title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 0;
  background: #fbfbfb;
}
@media only screen and (max-width: 1218px) {
  .direction_widget .widget_main_block .main_line .icons_each:last-child {
    display: none;
  }
  .fixed_footer .currency_widget {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .under_header_gray_line ul li:last-child {
    display: none;
  }
}
