
$s-small: 12px;
$s-main: 14px;
$s-bigger: 16px;
$s-h3: 18px;
$s-h2: 20px;
$s-h1: 22px;

$c-main_green: #8caa0b;
$c-light_grey: #ededed;
$c-grey-bg: #f2f1f1;
$c-main_grey: #555555;
$c-dark_grey: #333333;
$c-grey-separate: #d8d8d8;
$c-blue: #289fce;
$c-white: #ffffff;