@import "../variables";

.sidebar {
}

.widget {
  &__title {
    font-size: $s-h2;
    font-family: 'LatoLight', sans-serif;
    font-weight: 200;
    margin: 15px;
  }
}

@import 'widgets/currency';
@import 'widgets/courses';
@import 'widgets/chart';
@import 'widgets/convertor';