@import "../variables";

.sidebar {
}

.widget {

  &:last-of-type {
    margin-bottom: 30px;
  }
  &__title {
    &_icon {
      width: 36px;
      height: 36px;
      margin-right: 10px;
      vertical-align: middle;
    }

    font-size: $s-h2;
    font-family: 'LatoLight', sans-serif;
    font-weight: 200;
    margin: 15px;
  }
}

@import 'widgets/currency';
@import 'widgets/courses';
@import 'widgets/chart';
@import 'widgets/convertor';
@import 'widgets/blacklist';